body {
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text */
    display: flex;
    flex-direction: column;  /* Stack content vertically */
}
html, body {
    height: 100%;  /* Make sure the body takes up the full height of the viewport */
    margin: 0;
}
main {
    flex-grow: 1;  /* Allow main content to expand to fill the available space */
    overflow-y: auto;  /* Ensure content can scroll */
    padding-bottom: 50px; /* Ensure there's space at the bottom for the footer */
}
.navbar-dark .navbar-brand {
    color: #ffffff;
}
.navbar-dark .nav-link {
    color: #e0e0e0;
}

/* ERROR */

.error-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .error-page h1 {
    font-size: 6rem;
    font-weight: bold;
    color: #dc3545; /* Red color for the error */
  }
  .error-page p {
    font-size: 1.25rem;
    color: #6c757d;
  }
  .error-page a {
    color: #007bff;
    text-decoration: none;
  }
  .error-page a:hover {
    
    text-decoration: underline;
  }

  /* footer {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    position: relative;
    width: 100%;
    text-align: right;
} */

footer {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    width: 100%;
    text-align: right;
    justify-content: center;
    font-size: 0.8rem; /* Smaller font size for footer */
    margin-top: auto; /* Ensure the footer is at the bottom of the page */
    /* Initially, footer is not visible, but will always stick to the bottom of the content */
}
footer a {
    color: white;
    font-size: 0.8rem;
}
.page-container {
    /* Make it main and scroll inside it */
}
.nav-item-separator-right{
    border-color: white;
    border-right-style: groove;
}